<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        <meta name="google" content="notranslate">
        title CuntEmpire
        <link rel="icon" type="image/png" href="image/fav.png">
        link(rel="stylesheet", href="css/main.css?v=1073")
       
        script(type="text/javascript",src="libs/jq.js")
        <script src="https://ln.gamesrevenue.com/px1.js"></script>
        <script src="https://thebestgame2020.com/awpx_click.js?v=005"></script>
    body
        .app
            .logo
                img(src="image/logo.png", alt="logo")
            a(href="#@").main.AdWheelClick
                .img-notice
                    img(src="image/notice.png", alt="notice")
                .block.block1
                .block.block2
                .block.block3

                .text.text1
                    .t-title Ivana Humpalot
                    .t-subtitle
                        .ts-text Profession - Librarian
                        .ts-rating 
                            img(src="image/starts1.png", alt="stars")
                    .parag
                        p.
                            I love erotic books, spicy food, wine, 
                            fucking in the stacks. If you don't like 
                            those things, it's okay as long as you give 
                            me oral.
                        p.
                            Skills - Master of sex ed, thoroughly
                            understands the wonders of kama sutra,
                             stronger hands from carrying naughty 
                             books, devilishly smart, and knows 
                             how to release her energy after a slow day of work
                    .icons
                        .icon
                            img(src="image/icon2.png", alt="icon")
                            .i-text top10
                        .icon
                            img(src="image/icon.png", alt="icon")
                            .i-text +5600$
                        .icon
                            img(src="image/icon3.png", alt="icon")
                            .i-text +2100
                    .button
                        img(src="image/button.png", alt="button")
                        .b-text play now
                    
                .text.text2
                    .t-title Amanda Fillerup
                    .t-subtitle
                        .ts-text MD Fertility specialist
                        .ts-rating 
                            img(src="image/starts1.png", alt="stars")
                    .parag
                        p.
                            5'11, strong head game,
                            and a master of the art of 
                            insemination. When I am not 
                            inspecting men's sperm for work, 
                            I'm swallowing it as a hobby.

                        p.
                            Skills - Professional ball massager
                            with a keen ability to extract the
                             maximum amount of cum for fertility....
                             for science. 
                             Incredibly gentle hands
                              and supple lips to suck you dry.
                    .icons
                        .icon
                            img(src="image/icon2.png", alt="icon")
                            .i-text top10
                        .icon
                            img(src="image/icon.png", alt="icon")
                            .i-text +5600$
                        .icon
                            img(src="image/icon3.png", alt="icon")
                            .i-text +2100
                    .button
                        img(src="image/button.png", alt="button")
                        .b-text play now
                .text.text3
                    .t-title Anita Hardcock
                    .t-subtitle
                        .ts-text Police officer
                        .ts-rating 
                            img(src="image/starts1.png", alt="stars")
                    .parag
                        p.
                            Blowjobs don't 
                            come from the mouth, they come from
                             the heart. Serving people is what I
                              do, how can I serve you?
                        p.
                            Skills - She's a hardass who knows 
                            how to handle a pistol. She can dodge 
                            bullets but prefers to swallow them. 
                            Master with the lubed up baton.
                    .icons
                        .icon
                            img(src="image/icon2.png", alt="icon")
                            .i-text top10
                        .icon
                            img(src="image/icon.png", alt="icon")
                            .i-text +5600$
                        .icon
                            img(src="image/icon3.png", alt="icon")
                            .i-text +2100
                    .button
                        img(src="image/button.png", alt="button")
                        .b-text play now
                .card.card1
                    img(src="image/c1.jpg", alt="card")
                .card.card2
                    img(src="image/c2.jpg", alt="card")
                .card.card3
                    img(src="image/c3.jpg", alt="card")
                
               
                
                

               
                

        script(type="text/javascript",src="scripts/main.js?v=22")
       
